.nav-bar {
    width: 100vw;
    position: absolute;
    top: 20px;
    display: flex;
    z-index: 1;    
}

.banner{
    width: 100vw;
    height: 500px;
    display: flex;
    background: url('../assets/images/banner.svg')
}

